@import url(melodrama.css);
:root {
  --primary-color: #1a140f;
  --secondary-color: #33271e;
  --accent-color: #8e6f3e;
  --highlight-color: #d3c09c;
  --text-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.preload {
  opacity: 1;
  overflow: hidden;
  animation: zindex-change 1.6s linear forwards 2s;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: var(--primary-color);
  transition: opacity 0.3s ease-in;
}

.brand {
  position: fixed; /* stays relative to viewport */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2); /* start centered */
  font-size: clamp(2.5rem, 6vw, 4rem);
  letter-spacing: -1px;
  width: clamp(220px, 36.5vw, 2000px);
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  color: var(--accent-color);
  transition: all 1s ease-in-out;
}

.brand.loaded {
  top: var(--navbar-top);
  left: var(--navbar-left);
  transform: translate(0, 40.5px) scale(1);
  z-index: 1002;
}

.brand-name-m {
  max-width: 196px;
}
.brand-name-g {
  max-width: 300px;
}
.brand-name {
  color: var(--accent-color);
  width: 40px;
  animation: expand 2s linear forwards 0.5s;
  display: flex;
}
.brand-name-rest,
.brand-name {
  font-family: "Melodrama-Variable", sans-serif;
  line-height: 1.2;
  font-weight: 700;
}
.brand-name-rest {
  width: 100%;
  overflow: hidden;
}
@keyframes expand {
  from {
    width: 40px;
  }
  to {
    width: 100%;
  }
}

@keyframes height-change {
  from {
    height: 100vh;
  }
  to {
    height: 161px;
  }
}

@keyframes zindex-change {
  from {
    z-index: 9999;
  }
  to {
    z-index: 1001;
  }
}
