@import url(melodrama.css);
@import url(nunito.css);
:root {
  --primary-color: #1a140f;
  --secondary-color: #33271e;
  --accent-color: #8e6f3e;
  --highlight-color: #d3c09c;
  --text-color: #ffffff;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-padding: 160px;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
  background-color: var(--accent-color);
}

/*---------------------------Body---------------------------*/

body {
  font-family: "Nunito-Variable", sans-serif;
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Melodrama-Variable", sans-serif;
  font-weight: 700;
}
/*---------------------------Header H1---------------------------*/
header {
  z-index: 1000;
  background-color: var(--primary-color);
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: 0 5px 10px var(--secondary-color);
}
header h1 {
  color: var(--accent-color);
  font-size: 3rem;
}
header h1 a {
  text-decoration: none;
  color: var(--accent-color);
}

/*--------------------------Navigation---------------------------*/
header nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  font-size: 1.3rem;
  margin: 0;
  padding: 0;
}

header nav ul li {
  display: flex;
  flex-direction: column;
}

/*-----------------------Navigation Links------------------------*/
header nav ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Nunito-Variable", sans-serif;
  font-weight: 500;
  transition: all 0.3s ease;
}
header nav ul li a:hover {
  color: var(--highlight-color);
}
.selected-nav-link {
  color: var(--highlight-color);
}

/*-----------------------Underline Effect------------------------*/
.underline {
  width: 0;
  height: 2px;
  background-color: var(--highlight-color);
  transition: width 0.3s ease;
}
header nav ul li:hover .underline {
  width: 100%;
}

.selected-underline {
  width: 100%;
  height: 2px;
  background-color: var(--highlight-color);
}

/*-------------------------Main Section--------------------------*/
main {
  position: relative;
  top: 95px;
  padding: 4rem 3rem;
  color: var(--text-color);
  gap: 2rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*-------------------------Home Section--------------------------*/
main .home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 160px);
}

main .home .home-content {
  text-align: center;
  max-width: 800px;
}

main .home h2 {
  font-size: 3rem;
}
main .home h2 span {
  color: var(--accent-color);
  font-size: 3.5rem;
}
main .home h3 {
  font-size: 2rem;
}
main .home h3 span {
  color: var(--highlight-color);
  text-shadow: 0 0 5px var(--highlight-color);
  font-size: 2.5rem;
}
main .home p {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 2.5rem;
}

/*-------------------------Hero Buttons--------------------------*/
.home .home-content .hero-btns .btn-container {
  width: fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  flex-direction: column;
}

.home .home-content .hero-btns {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 2rem;
}
/*--------------------Animated Button Effect--------------------*/
.home .home-content .hero-btns a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  color: var(--text-color);
  font-size: 1.2rem;
  transition: all 0.3s ease;
  padding: 0.75rem 1.5rem;
}
.home .home-content .hero-btns a::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(
    90deg,
    var(--highlight-color) 50%,
    transparent 50%
  );
  background-size: 205%;
  background-position: 100% 0%;
  z-index: -1;
  transition: background-position 0.3s ease;
}
.home .home-content .hero-btns a:hover {
  color: var(--primary-color);
}
.home .home-content .hero-btns a:hover::before {
  background-position: 0% 0%;
}

/*--------------------Animated Arrow Effect--------------------*/
.hero-arrow {
  display: inline-block;
  transition: transform 0.3s ease 0.1s;
}
.home .home-content .hero-btns a:hover .hero-arrow {
  transform: translateX(5px);
}

/*-------------------------About Section-------------------------*/
main .about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap-reverse;
}
main .about h2 {
  font-size: 2.5rem;
}
main .about p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  max-width: 800px;
}
main .about .about-me-story strong {
  color: var(--accent-color);
  font-size: 1.5rem;
  text-shadow: 0 0 2px var(--accent-color);
}

main .about .about-me-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-image: url("../public/img/me.jpg");
  background-size: cover;
  background-position: center;
}

/*--------------------------Skills Section-----------------------*/
main .skills {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

main .skills h2 {
  font-size: 2.5rem;
}
/*-----------------Skills Container and Proficiency Bar---------------*/
main .skills .skills-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem 3rem;
  background-color: var(--secondary-color);
}

main .skills .skills-container .skill {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
  padding: 1rem;
}

main .skills .skills-container .skill h3 {
  font-size: 1.3rem;
  background-color: var(--primary-color);
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0;
  border-radius: 5px;
  min-width: 70px;
}

main .skills .skills-container .skill-proficiency-bar {
  opacity: 0;
  width: 0;
  height: 10px;
  transition:
    opacity 0.1s ease,
    width 0.3s ease 0.2s;
}
main .skills .skills-container .skill .skill-proficiency-bar .progress {
  width: 0;
  height: 100%;
  transition: width 0.3s ease 0.5s;
}

/*---------Hover Effects for Skills and Proficiency Bar----------*/
main .skills .skills-container .skill:hover .skill-proficiency-bar {
  opacity: 1;
  width: 10vw;
  border: 2px solid var(--primary-color);
}
main .skills .skills-container .skill:hover {
  background-color: var(--accent-color);
  gap: 0.6rem;
  border-radius: 7px;
}
main .skills .skills-container .skill:hover .progress {
  height: 100%;
}

/*--------------Individual Skill Proficiency Widths--------------*/
/*-------------Language Proficiency Bars-------------*/
/* HTML Skill Proficiency */
#Html-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Html-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}

/* CSS Skill Proficiency */
#Css-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Css-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}

/* JavaScript Skill Proficiency */
#Js-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Js-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}

/* Java Skill Proficiency */
#Java-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Java-skill {
  width: 60%;
  transition: width 0.3s ease 0.5s;
}

/* C Skill Proficiency */
#C-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #C-skill {
  width: 40%;
  transition: width 0.3s ease 0.5s;
}

/* C++ Skill Proficiency */
#Cpp-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Cpp-skill {
  width: 40%;
  transition: width 0.3s ease 0.5s;
}

/*-------------Framework Proficiency Bars-------------*/
/* Bootstrap Skill Proficiency */
#Bootstrap-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main
  .skills
  .skills-container
  .skill:hover
  .skill-proficiency-bar
  #Bootstrap-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}

/* Git/GitHub Skill Proficiency */
#Git-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #Git-skill {
  width: 60%;
  transition: width 0.3s ease 0.5s;
}

/*------------development skills proficiency bars------------- */
/* frontend development skill proficiency */
#Frontend-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main
  .skills
  .skills-container
  .skill:hover
  .skill-proficiency-bar
  #Frontend-skill {
  width: 60%;
  transition: width 0.3s ease 0.5s;
}

/* OOP Skill Proficiency */
#OOP-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main .skills .skills-container .skill:hover .skill-proficiency-bar #OOP-skill {
  width: 60%;
  transition: width 0.3s ease 0.5s;
}

/*-------------Soft Skills Proficiency Bars------------- */
/* Problem-Solving Skill Proficiency */
#Problem-solving-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main
  .skills
  .skills-container
  .skill:hover
  .skill-proficiency-bar
  #Problem-solving-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}

/* Teamwork Skill Proficiency */
#Teamwork-skill {
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
}
main
  .skills
  .skills-container
  .skill:hover
  .skill-proficiency-bar
  #Teamwork-skill {
  width: 80%;
  transition: width 0.3s ease 0.5s;
}
